<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/8.10.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/8.10.0/fonts/css/anychart-font.min.css" type="text/css"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/function.js"></script>
    <title>Stock Portfolio</title>
    </script>
</head>

<body bgcolor="f5f5f5">
    <nav>
        <h4>Website Name</h4>
        <ul>
            <li><a href="/trade">Home</a></li>
            <li><a href="/">Logout</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <!--    Scrolling Bar -->

    <div style="width: 100%; height: 46px;">
        <style>
            .tradingview-widget-copyright {
                font-size: 13px !important;
                line-height: 32px !important;
                text-align: center !important;
                vertical-align: middle !important;
                /* @mixin sf-pro-display-font; */
                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright .blue-text {
                color: #2962FF !important;
            }

            .tradingview-widget-copyright a {
                text-decoration: none !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:visited {
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:hover .blue-text {
                color: #1E53E5 !important;
            }

            .tradingview-widget-copyright a:active .blue-text {
                color: #1848CC !important;
            }

            .tradingview-widget-copyright a:visited .blue-text {
                color: #2962FF !important;
            }
        </style><iframe scrolling="no" allowtransparency="true"
            style="box-sizing: border-box; display: block; height: 46px; width: 100%;"
            src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22proName%22%3A%22FOREXCOM%3ASPXUSD%22%2C%22title%22%3A%22S%26P%20500%22%7D%2C%7B%22proName%22%3A%22FOREXCOM%3ANSXUSD%22%2C%22title%22%3A%22Nasdaq%20100%22%7D%2C%7B%22proName%22%3A%22FX_IDC%3AEURUSD%22%2C%22title%22%3A%22EUR%2FUSD%22%7D%2C%7B%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22title%22%3A%22BTC%2FUSD%22%7D%2C%7B%22proName%22%3A%22BITSTAMP%3AETHUSD%22%2C%22title%22%3A%22ETH%2FUSD%22%7D%5D%2C%22showSymbolLogo%22%3Atrue%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Afalse%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A46%2C%22utm_source%22%3A%22financial-dashboard-project.netlify.app%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%2C%22page-uri%22%3A%22financial-dashboard-project.netlify.app%2F%22%7D"
            frameborder="0"></iframe>
    </div>

    <!-- start-->
    <hr style="margin-left: -20%;">
    <div class="top">
        <input type="text" id="ss" placeholder="Search Stock">
        <select name="currency" id="currency">
            <option value="USD">American USD</option>
            <option value="INR">Indian Rupees</option>
            <option value="YEN">Japanese Yen</option>
            <option value="EURO">Euro</option>
        </select>
        <i class="fa fa-book"></i><input type="button" value="Export to Excel" class="ete">
        <button class="btn" onclick="togglePopup()"><i class="fa fa-plus"></i></button>
        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <select name="stocks" id="stocks">
                    <option value="Paytm">Paytm</option>
                    <option value="Zomato">Zomato</option>
                    <option value="Sail">Sail</option>
                    <option value="Mrf">Mrf</option>
                </select><br>
                <input type="text1" name="quantity" id="quantity" placeholder="Quantity"><br>
                <input type="text1" name="price" id="buyprice" placeholder="Buy Price"><br>
                <input type="text1" name="current price" id="currentprice" placeholder="Current Value"><br>
                <button class="btn2" onclick="callvalue()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="middle" style="background-color: rgba(255, 255, 255, 0.801);">
        <div class="container-fluid">
        <label for="Invested Amount">Invested Amount</label>
        <label for="Profit / Loss">Profit / Loss</label>
        <label for="Total Portfolio value">Total Portfolio value</label>
        <label for="Total Profit/Loss %">Total Profit/Loss %</label></div>
        <br><br><br>
        <div class="container-fluid" style="margin-top: -3%; margin-left: 2%; margin-bottom: -3%;">
        <label for="ia" id="ia">₹0.00</label>
        <label for="pl" id="pl">₹0.00</label>
        <label for="tp" id="tp">₹0.00</label>
        <label for="tpl" id="tpl">0%</label></div>
        <br><br><br>
        <hr style="margin-right: 2%">
        <div class="showvalue">
            <div style="text-align: center; font-weight: bold; font-size: large;">
            <label for="stockname">Stock Details</label>
            </div>
        </div> <br>
        <div id="container" class="card-deck" style="margin-left: 5%;"></div>
    </div>
    <hr>
    <div id="contain"></div>


    <!-- 
    table 
    <div style="width: 400px; height: 400px;">
        <style>
            .tradingview-widget-copyright {
                font-size: 13px !important;
                line-height: 32px !important;
                text-align: center !important;
                vertical-align: middle !important;
                /* @mixin sf-pro-display-font; */
                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright .blue-text {
                color: #2962FF !important;
            }

            .tradingview-widget-copyright a {
                text-decoration: none !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:visited {
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:hover .blue-text {
                color: #1E53E5 !important;
            }

            .tradingview-widget-copyright a:active .blue-text {
                color: #1848CC !important;
            }

            .tradingview-widget-copyright a:visited .blue-text {
                color: #2962FF !important;
            }
        </style><iframe scrolling="no" allowtransparency="true"
            style="box-sizing: border-box; display: block; height: 400px; width: 400px; align-items: center;"
            src="https://s.tradingview.com/embed-widget/market-overview/?locale=en#%7B%22colorTheme%22%3A%22light%22%2C%22dateRange%22%3A%2212M%22%2C%22showChart%22%3Atrue%2C%22isTransparent%22%3Afalse%2C%22showSymbolLogo%22%3Atrue%2C%22showFloatingTooltip%22%3Atrue%2C%22width%22%3A400%2C%22height%22%3A400%2C%22plotLineColorGrowing%22%3A%22rgba(33%2C%20150%2C%20243%2C%201)%22%2C%22plotLineColorFalling%22%3A%22rgba(33%2C%20150%2C%20243%2C%201)%22%2C%22gridLineColor%22%3A%22rgba(240%2C%20243%2C%20250%2C%201)%22%2C%22scaleFontColor%22%3A%22rgba(120%2C%20123%2C%20134%2C%201)%22%2C%22belowLineFillColorGrowing%22%3A%22rgba(33%2C%20150%2C%20243%2C%200.12)%22%2C%22belowLineFillColorFalling%22%3A%22rgba(33%2C%20150%2C%20243%2C%200.12)%22%2C%22belowLineFillColorGrowingBottom%22%3A%22rgba(41%2C%2098%2C%20255%2C%200)%22%2C%22belowLineFillColorFallingBottom%22%3A%22rgba(41%2C%2098%2C%20255%2C%200)%22%2C%22symbolActiveColor%22%3A%22rgba(33%2C%20150%2C%20243%2C%200.12)%22%2C%22tabs%22%3A%5B%7B%22title%22%3A%22Indices%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22FOREXCOM%3ASPXUSD%22%2C%22d%22%3A%22S%26P%20500%22%7D%2C%7B%22s%22%3A%22FOREXCOM%3ANSXUSD%22%2C%22d%22%3A%22Nasdaq%20100%22%7D%2C%7B%22s%22%3A%22FOREXCOM%3ADJI%22%2C%22d%22%3A%22Dow%2030%22%7D%2C%7B%22s%22%3A%22INDEX%3ANKY%22%2C%22d%22%3A%22Nikkei%20225%22%7D%2C%7B%22s%22%3A%22INDEX%3ADEU30%22%2C%22d%22%3A%22DAX%20Index%22%7D%2C%7B%22s%22%3A%22FOREXCOM%3AUKXGBP%22%2C%22d%22%3A%22UK%20100%22%7D%5D%2C%22originalTitle%22%3A%22Indices%22%7D%2C%7B%22title%22%3A%22Commodities%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22CME_MINI%3AES1!%22%2C%22d%22%3A%22S%26P%20500%22%7D%2C%7B%22s%22%3A%22CME%3A6E1!%22%2C%22d%22%3A%22Euro%22%7D%2C%7B%22s%22%3A%22COMEX%3AGC1!%22%2C%22d%22%3A%22Gold%22%7D%2C%7B%22s%22%3A%22NYMEX%3ACL1!%22%2C%22d%22%3A%22Crude%20Oil%22%7D%2C%7B%22s%22%3A%22NYMEX%3ANG1!%22%2C%22d%22%3A%22Natural%20Gas%22%7D%2C%7B%22s%22%3A%22CBOT%3AZC1!%22%2C%22d%22%3A%22Corn%22%7D%5D%2C%22originalTitle%22%3A%22Commodities%22%7D%2C%7B%22title%22%3A%22Bonds%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22CME%3AGE1!%22%2C%22d%22%3A%22Eurodollar%22%7D%2C%7B%22s%22%3A%22CBOT%3AZB1!%22%2C%22d%22%3A%22T-Bond%22%7D%2C%7B%22s%22%3A%22CBOT%3AUB1!%22%2C%22d%22%3A%22Ultra%20T-Bond%22%7D%2C%7B%22s%22%3A%22EUREX%3AFGBL1!%22%2C%22d%22%3A%22Euro%20Bund%22%7D%2C%7B%22s%22%3A%22EUREX%3AFBTP1!%22%2C%22d%22%3A%22Euro%20BTP%22%7D%2C%7B%22s%22%3A%22EUREX%3AFGBM1!%22%2C%22d%22%3A%22Euro%20BOBL%22%7D%5D%2C%22originalTitle%22%3A%22Bonds%22%7D%2C%7B%22title%22%3A%22Forex%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22FX%3AEURUSD%22%7D%2C%7B%22s%22%3A%22FX%3AGBPUSD%22%7D%2C%7B%22s%22%3A%22FX%3AUSDJPY%22%7D%2C%7B%22s%22%3A%22FX%3AUSDCHF%22%7D%2C%7B%22s%22%3A%22FX%3AAUDUSD%22%7D%2C%7B%22s%22%3A%22FX%3AUSDCAD%22%7D%5D%2C%22originalTitle%22%3A%22Forex%22%7D%5D%2C%22utm_source%22%3A%22financial-dashboard-project.netlify.app%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22market-overview%22%2C%22page-uri%22%3A%22financial-dashboard-project.netlify.app%2F%22%7D"
            frameborder="0"></iframe>
    </div> -->

</body>

</html>